/* 로그인 */
.pointer{
    cursor: pointer;
    color: #000;
  }
  
  .mid{
    margin-right: 10%;
  }
  .mpw{
    margin-right: 11%;
  }
  
  /* 회원가입 */
  .bgsz{
    background: #000;
  }
  
  h1, label{
    color: #fff;
  }
  
  form .wrap{
    display: flex;
    gap: 10px;
    label{
      align-items: center;
    }
  }