/* 메인메뉴의 community전체 common.stylesheet입니다 */

/* 공통부분 */

.community_title {
  padding: 90px 0; 
}
.community_contents_wrapper {
  padding: 30px 0 30px;
}
.community_contents_wrapper button a{
  color:var(--bk0);
  text-align: end;
}

.community_contents_wrapper .keywords{
  margin-bottom: 30px;
}
.community_contents_wrapper .row{
  margin-right: 0px;
  margin-left: 0px;  
}

.community_title .title {
text-align: center;
}
.community_title .search {
  border-bottom: 4px solid var(--bk50);
  margin-top: 30px; 
  padding-bottom:10px;  
}
.search input::placeholder {
  color: var(--bk700);
}
.community_title .search form .form-control{
  color: var(--bk50);
  background: none;
  border: none;
  font-size: 20px;
  vertical-align: top;
  margin-right: 36px;
  text-align: center;
}
.community_title .search form .form-control:placeholder{      
  color: var(--bk700);
}
.community_title .search form .form-control:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: var(--bk200);
}
.community_title .search button {
  background: none;
  border: none;
  color: var(--bk50);
}
.community_title .search i {
  font-size: 24px;
}      
.col-9half{
  flex: 0 0 auto;
  width: 79.175%;
}
.col-2half{
  flex: 0 0 auto;
  width: 20.825%;
}

.col-9n8{
  flex: 0 0 auto;
  width: 81.666667%;
}
.col-2n2{
  flex: 0 0 auto;
  width: 18.333333%;
}


/* 공통부분 끝 */

/* 고민상담 시작 */

.counsel_content{
  border-top: 1px solid var(--bk0);
  padding: 40px 20px;
}

.counsel_content:hover{
 background: var(--bk1000);
}

.counsel_txt>p:nth-child(1){
  width: 100%;
  line-height: 30px;
}
.counsel_txt>p:nth-child(2){
  width: 110%;
  margin-bottom:16px;
}

.counsel_txt p:nth-child(2){
  color:var(--bk500);
  padding-left: 5px;
}
.counsel_btn div{
  width: 100%;
}

/* 고민상담 디테일 */
.counsel_detail_wrapper .community_contents_wrapper{
  border-top: 2px solid var(--bk700);
  border-bottom: 2px solid var(--bk700);
}

table.table,
table.table tr,
table.table th,
table.table td,
.table>:not(caption)>*>* {
  background: var(--bk1100);
  border-bottom:0;
  color:var(--bk200);
}

table.table tr + tr{
  border-top: 1px solid var(--bk900);
}
table.table tr{
  line-height: 38px;
}

table.table th{
  text-align: center;
}
.community_contents_wrapper .text-end{
  margin-top:30px;
}

.community_contents_wrapper .text-end i{
  padding-right: 5px;
}
.info_table .likes{
  margin-left:15px;
}



/* 고민상담 끝 */
/* 댓글 시작 */
.comment_wrapper{
  margin-right: 0px;
}

.comment_write{
  border: 1px solid var(--bk800);
  border-radius: 8px;
  padding: 20px 30px;
}
.comment_write,
.comment_wrapper>p,
.submit_comment_wrapper{
  margin: 30px 0 0 108px;
}

.comment_title>div{
  margin-left:20px;
}
.comment_title>div p:last-child{
  color: var(--bk600);
}

.comment_text{
  margin-top:20px;
  line-height: 40px;
  font-size: 18px;
}


/* 댓글 달기 submit */
.submit_comment_wrapper{
  border: 1px solid var(--bk800);
  border-radius: 8px;
  padding: 20px 30px;
}

.submit_comments textarea{
  height: 100px;
  color:var(--bk1000);
  margin-bottom: 20px;
}
/* 댓글 끝 */

/*  고민상담 글쓰기 counsel_write 시작 */
.form-control:disabled {
  background-color: var(--bk500);
  border-color: var(--bk400);
}
.form-check-input:checked {
  background-color:var(--primary);
  border-color: var(--red1000);
}
.note-editor.note-frame{
  background: var(--bk0);
}
.note-editing-area{
  height: 250px;
}

.radio input{
  margin: 0 10px 0 0;

}
/*  고민상담 글쓰기 counsel_write 끝 */

/*  고민상담 전체 끝 */
/*  팀프로젝트 전체 시작 */

/* 팀 프로젝트 teamprj.php 시작 */

.teamproject_detail_wrapper .community_contents_wrapper,
.keybtn_container{
  border-bottom: 2px solid var(--bk700);
}

.teamprj_content{
  border: 1px solid var(--bk500);
  border-radius: 8px;
  padding: 40px 20px;
  margin-top: 60px;
  z-index: 1;
}

.teamprj_content:hover{
 background: var(--bk1000);
}

.teamprj_content .subtitle2{
  color:var(--bk500);
}

.teamprj_content .teamprj_btn button.btn-outline-secondary{
  color:var(--bk0);
}

.teamprj_txt .teaprj_title{
  margin-bottom: 20px;
}

.teamprj_txt .teaprj_title .headt5{
  line-height: 40px;
}

.teamprj_txt .dev_env{
  margin-top: 20px;
}
.teamprj_txt .dev_env .icon{
  margin-left:5px;
}

.list_pagination{
  
}




/* 팀 프로젝트 teamprj.php 끝 */