body {
  background-color: var(--bk1100);
  color: var(--bk200);
}

.header {
  background-color: var(--bk1100);
  color: var(--bk200);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  text-align: center;
  line-height: 1.5;
}

.modal-footer {
  border-top: none;
}

.message_str {
  color: var(--red800);
  font-weight: 700;
}

.subtitle1 {
  font-weight: 500;
}

hr {
  padding: 0;
  margin: 0;
}

.back-icon {
  cursor: pointer;
  color: var(--bk200);
}

.content-wrapper {
  height: calc(100vh - 56px);
}

.sidebar {
  background-color: var(--bk1100);
  height: 100%;
  padding: 20px;
  color: var(--bk200);
}

.main-content {
  background-color: var(--bk900);
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: var(--bk1100);
  color: var(--bk200);
  padding: 20px 20px;
}

.lecture-list {
  max-height: 70vh;
  overflow-y: auto;
}

.lecture-item {
  background-color: var(--bk900);
  color: var(--bk200);
  border: 1px solid var(--bk600);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.lecture-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lecture-time {
  display: flex;
  align-items: center;
  color: var(--bk200);
}

.lecture-time i {
  margin-right: 5px;
  color: var(--bk200);
}

.inquiry-link {
  position: absolute;
  left: 20px;
  bottom: 0;
  width: calc(100% - 40px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red800);
  color: var(--red0);
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.inquiry-link i {
  margin-right: 8px;
}

.inquiry-link:hover {
  background-color: var(--red1000);
  color: var(--red0);
}

#mainContent {
  flex-grow: 1;
  overflow-y: auto;
}

#defaultContent {
  height: 100%;
}

.form-control {
  background-color: #1e1e1e;
  color: var(--bk200);
  border: 1px solid #555;
}

.form-control::placeholder {
  color: #aaa;
}

h3, h5 {
  color: var(--bk200);
}
