/* 장바구니 page*/


.container_wrap {
  padding-top: 80px;
  padding-bottom: 100px;
}

.headt5 {
  font-weight: 700;
  margin-bottom: 50px;
}



.form-check-input {
  width: 18px;
  height: 18px;
}

.check_del {
  margin-bottom: 15px;
}

.check_total label span {
  vertical-align: middle;
  margin-right: 3px;

}

.check_cnt {
  color: var(--red800);
}

/* 상품 테이블 */
.cart_list, .checkout_list {
  width: 100%;
  border-top: 1px solid var(--bk200);
  border-bottom: 1px solid var(--bk200);

  li {
    border-bottom: 1px solid var(--bk200);
  }

  li:last-child {
    border-bottom: none;
  }

  .item_lnfo {
    padding: 15px 0;
  }

  .item_check {
    margin-right: 15px;
  }

  .item_img {
    width: 150px;
    height: 96px;
    object-fit: cover;
    border-radius: 5px;
  }


  .item_txt {
    padding: 5px 10px;

    .lec_title {
      width: 450px;
      font-size: 17px;
      font-weight: 600;
    }

    .lec_tc {
      font-size: 14px;
      color: var(--bk700);
    }
  }

  .item_price {
    border-right: 1px solid var(--bk200);
    border-left: 1px solid var(--bk200);
    width: 145px;
    padding: 54px 10px;
    height: 100%;
    white-space: nowrap;
  }

  .item_price p,
  .book_price {
    font-weight: 800;
    font-size: 18px;
  }

  .btn_item_del {
    color: var(--bk300);
  }

  .btn_item_del:hover {
    color: var(--bk900);
  }

  :not(.btn-check)+.btn:active {
    border-color: var(--bk0);
  }

  .book_list {
    padding: 10px;

  }
  .book_desc{
    width: 475px;
    margin-left: 70px;
  }
  .book_title {
    font-weight: 600;
    font-size: 15px;
  }

  .book_info {
    font-size: 14px;
    color: var(--bk500);
    vertical-align: sup;
  }

  .book_badge {
    margin-left: 22px;
  }

  .badge_custom {
    display: inline-block;
    padding: 8px;
    border: 1px solid var(--bk300);
    font-size: 14px;
    line-height: 1;
    color: var(--bk700);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
  }

  .book_price {
    width: 145px;
    height: 100%;
    text-align: center;
    /* border-right: 1px solid var(--bk200);
    border-left: 1px solid var(--bk200); */
  }
}

/* checkout 상품 테이블 별도 스타일 */
.checkout_list{
  .item_price{
    border-right: 0;
  }
  .book_desc{
    margin-left: 36px;
    width: 545px;
  }
  .book_price {
    width: 130px;
    margin-left: 13px;
  }
  .coupon_select{
    padding: 10px;
    border-top: 1px solid var(--bk200);
    select{
      width: 500px;
    }
  } 
} 

.checkout_info_wrap{
  font-size: 15px;
  border: 1px solid var(--bk200);
  border-radius: 10px;
  padding: 32px;
  .dinfo_body > *{
    margin-bottom: 10px;
  }
  .delivery_info{
    margin-bottom: 20px;
  }
  .dinfo_body, .payment_method {
    border-bottom: 1px solid var(--bk200);
  }
  .dinfo_body label{
    width: 100px;
  }
  #sample6_extraAddress{
    margin-bottom: 20px;
  }
  .post_search_btn{
    font-size: 14px;
    color: var(--bk900);
    margin-left: 10px;
  }
  .payment_method{
    > *{
      margin-bottom: 10px;
    }
    > div:last-child{
      margin-bottom: 20px;
    }
    .form-check-input{
     width: 1em; 
     height: 1em;
    }

  }
  .payment_cal{
    padding: 20px 0;
    border-bottom: 1px solid var(--bk200);
    .total_price_tt, .coupon_price_tt{
      color: var(--bk700);
    }
    div p:last-child{
      font-size: 16px;
      font-weight: 700;
    }
    .coupon_price{
      color: var(--red950);
    }
  }
  .payment_summary{
    font-size: 18px;
    font-weight: 800;
    padding: 20px 0;
  }
}
.checkout_info_headtt{
  font-size: 16px;
  font-weight: 700;
}

.btn-outline-secondary {
  font-size: 14px;
}


/* 결제 정보 */
.payment_sum {
  margin-top: 40px;
}

.payment_sum li {
  border-bottom: none;
  padding: 10px 30px;
}

.payment_sum li:first-child {
  padding-top: 30px;
}

.payment_sum li:last-child {
  border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  padding-bottom: 30px;
}

.price_sum {
  font-size: 18px;
  font-weight: 600;
}

/* 공통레드버튼 */
.btn_ok_red {
  background-color: var(--red800);
  border-color: var(--red800);
  font-size: 16px;
  font-weight: 600;
}

.btn_ok_red:hover {
  background-color: var(--red900);
  border-color: var(--red900);
}

:not(.btn-check)+.btn_ok_red.btn:active {
  background-color: var(--red950);
  border-color: var(--red950);
}