section {
  margin-top: 0;
}

section.mypage_basic {
  padding-bottom: 100px;
}

.lecture_box {
  border: 1px solid var(--bk200);
  box-sizing: border-box;
  border-radius: 8px;
}

.lecture_box .image_box {
  border-radius: 8px 8px 0 0;
}

.lecture_box .image_box img {
  overflow: hidden;
}

.lecture_box .lecture_info {
  padding: 15px 15px 5px;
  box-sizing: border-box;
}

.lecture_box .lecture_info .custom_tt{
  color: var(--bk1000);
  margin: 2px 0;
}

.lecture_box .lecture_price{
  padding: 0 15px 15px;
}

.lecture_box .lecture_price .bi-play-circle{
  color: var(--bk700);
  margin-right: 5px;
}

.lecture_box .lecture_price .ongoing_txt{
  color: var(--bk700);
  font-weight: 600;
}
