.discount_box{
	border: 1px solid var(--bk1000);
	padding: 8px;
	border-radius: 8px;
	background: var(--bk0);
	color: #000;
}

.discount_box:hover{
	border: none;
	background: var(--red700);
	color: var(--bk0);
}

.color_change{
	color: #6C757D;
}
.coupon_info ol>li{
	list-style: decimal;
	margin-bottom: 15px;
}
.coupon_info ol li ul li{
	list-style: disc;
	margin-left: 20px;
}
.modal-header{
	border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  .coupon_info_wrapper{
    color: #212529;
  }
}
.ok_btn{
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  button{
    background: var(--red700);
    color: var(--bk0);
  }
  button:hover{
    background: var(--red800);
    color: var(--bk0);
  }
}
.modao_dialog{
	max-width: 600px;
}