.discount_box{
	border: 1px solid var(--bk1000);
	padding: 12px;
	border-radius: 8px;
	background: var(--bk0);
	color: #000;
}

.discount_box:hover{
	border: none;
	background: var(--red700);
	color: var(--bk0);
}

.ok_btn button{
	background: var(--red700);
	color: var(--bk0);
}
.ok_btn button:hover{
	background: var(--red800);
	color: var(--bk0);
}

.color_change{
	color: #6C757D;
}
.coupon_info ol>li{
	list-style: decimal;
	margin-bottom: 15px;
}
.coupon_info ol li ul li{
	list-style: disc;
	margin-left: 20px;
}