/* section */
.s_h{
  /* gap: 190px; */
  .headt5{
    font-size: 24px;
    color: var(--red800);
  }
  .headt3{
    font-size: 48px;
    color: var(--bk0);
  }
}
.data{
  /* gap: 30px; */
  flex-wrap: wrap;
  padding: 0 55px;
}
.b_l{
  border-left: 1px solid var(--bk0);
}
.bc_w{
  padding: 150px 0 150px 0;
  h2{
    text-align: center;
    font-size: 60px;
  }
  .img_w{
    width: 219px;
    height: 29px;
  }
}
.fz_1{
  font-size: 20px;
  /* line-height: 24px; */
  color: var(--bk1000);

}
.fz_2{
  font-size: 16px;
  line-height: 24px;
  color: var(--bk1000);
}
.in_sz{
  inline-size: 424px;
  /* padding: 150px 300px 150px 300px; */
  padding-top: 150px;
  .text_agn{
    text-align: center;
  }
}
.g_new{
  gap: 60px;
}
.img_b{
  margin-bottom: 30px;
}

/* section 끝*/


/* 강사 신청 */
.signup_con{
  white-space: nowrap;
  /* justify-content: center; */
}
.d_f{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 30px;
  input, #tc_intro{
    width: 537px;
  }
  label{
    align-self: center;
    /* align-self: flex-start; */
  }
}

.p_c{
  margin-left: 90px;
}
.p_ud{
  padding: 150px 0 150px 0;

}
.w_ed{
  width: 648px;
  h1{
    border-bottom: 1px solid white;
    height: 100px;
  }
}
.h_ed{
  height: 86px;
  label{
    /* align-self: center; */
    align-self: flex-start;
  }
}
.tc_btn{
  background: var(--red800);
  color: var(--red0);
  height: 50px;
}
.tc_btn:hover{
  background: var(--red900);
  color: var(--red0);
}
