:root {
	/* color */
	--primary: #c93333;
	--secondary: #d76969;
	
  /* color-red */
	--red1000: #c62424;
	--red950: #c93333;
	--red900: #cc3e3e;
	--red800: #d25353;
	--red700: #d76969;
	--red600: #dd7e7e;
	--red500: #E39494;
	--red400: #E8a9a9;
	--red300: #EEBFBF;
	--red200: #F4D4D4;
	--red100: #F9EAEA;
	--red50: #FCF4F4;
	--red0: #FFFFFF;
  
  /* color-black */
  --bk1000: #1E1E1E;
  --bk950: #292929;
  --bk900: #353535;
  --bk800: #4B4B4B;
  --bk700: #616161;
  --bk600: #787878;
  --bk500: #8F8F8F;
  --bk400: #A5A5A5;
  --bk300: #BCBCBC;
  --bk200: #D2D2D2;
  --bk100: #E9E9E9;
  --bk50: #F4F4F4;
  --bk0: #FFFFFF;
  
	/* fonts */
	--main_big: 22px;
	--sub_title: 18px;
	--section_title: 17px;
	--main: 17px;
}