/* 테이블 고정 너비와 레이아웃 */
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 8px; /* 행 사이에만 8px 간격을 줍니다 */
  border-collapse: separate;
}

table, th, td {
  border: none;
}

.content_bar{
  margin-top: 50px;
}

td {
  vertical-align: top; /* 테이블 셀 내 정렬 */
}

.box_container {
  width: 100%; /* 테이블 셀 너비에 맞춤 */
  padding: 0;
  position: relative;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 이미지와 텍스트 수직 정렬 */
  height: 300px; /* 고정 높이 */
  width: 100%; /* 테이블 셀과 너비 일치 */
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.bookBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 이미지와 텍스트 수직 정렬 */
  height: 200px; /* 고정 높이 */
  width: 100%; /* 테이블 셀과 너비 일치 */
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.box span,
.bookBox span {
  position: absolute;
  z-index: 1;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.image {
  height: 100%; /* 박스 높이에 맞춤 */
  width: 100%; /* 박스 너비에 맞춤 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image img {
  max-height: 100%; /* 이미지 높이 조정 */
  max-width: 100%; /* 이미지 너비 조정 */
  display: block;
  object-fit: cover;
  visibility: hidden; /* 이미지 없을 경우 숨김 */
}

/* 이미지가 있을 경우 표시 */
.image img[src] {
  visibility: visible;
}

.video{
  margin-top: 10px;
  height: 48px;
  background-color: var(--bk50);
  border-color: var(--200);

  h5{
    margin-left: 24px;
  }

  i{
    margin-right: 24px;
  }
}

.quiz-select {
  margin-right: 10px; /* 원하는 간격으로 조정 */
}

.exam-select {
  margin-left: 10px; /* 원하는 간격으로 조정 */
}

.leplus{
  width: 100% !important;
  margin-top: 10px !important;
  height: 38px !important;
  border-color: var(--bk800) !important;
}


/* quiz_test */

.content_bar small{
  color: var(--bk400);
  font-size: 12px;
  font-weight: normal;
}

.custom-gap{
  gap: 100px;
}

.input-group span{
height: 38px;
}

.editImg{
  display: flex;
  justify-content: center;

  img{
    width: 300px;
  }
} 