/* 테이블 고정 너비와 레이아웃 */
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 8px; /* 행 사이에만 8px 간격을 줍니다 */
  border-collapse: separate;
}

table, th, td {
  border: none;
}

.content_bar{
  margin-top: 50px;
}

.cent{
  position: relative;

  h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.box, .input-group {
  padding: 0;
  margin: 0;
}

.box_container{
  padding: 0;
  position: relative;
  align-items: end;
}

tbody tr td .box {
  height: 300px !important;
  width: 100% !important;
  background-color: #ccc !important;
  align-items: end; 
  text-align: center;
  margin-bottom: 10px;
  position: relative;

  span{
    text-wrap: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
  }

  .image{
    height: 300px;
  }
}

.video{
  margin-top: 10px;
  height: 48px;
  background-color: var(--bk50);
  border-color: var(--200);

  h5{
    margin-left: 24px;
  }

  i{
    margin-right: 24px;
  }
}

.quiz-select {
  margin-right: 10px; /* 원하는 간격으로 조정 */
}

.exam-select {
  margin-left: 10px; /* 원하는 간격으로 조정 */
}

.leplus{
  width: 100% !important;
  margin-top: 10px !important;
  height: 38px !important;
  border-color: var(--bk800) !important;
}