/* header */
.header{
  min-width: 1920px;
  height: 100px;
}

/* menu */

body nav {
  width: 316px;
  background: var(--bk1000);
  align-items: flex-end;
}

body nav .list-group{
  margin-left:42px;
}

body nav .list-group-item, body nav .list-group-item a{
  background-color: var(--bk1000);
  border: 1px solid var(--bk1000) ;
  color:var(--bk300);
  width: 274px;
  /* height: 46px; */
  text-align: left;
  line-height: 30px;
  font-size: 18px;

}
body nav .list-group-item{
border-bottom: 1px solid var(--bk300) ;
}

/*  */