/* header */
.header {
  min-width: 100%;
  height: 105px;
  background: var(--bk1000);
  display: flex;
}

/* header nav */
header h1 {
  margin: 50px 35px 22px;
}

header h1.logo a {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 13px;
  text-transform: uppercase;
  color: var(--primary);
}

/* navigation (menu) */

body nav {
  width: 316px;
  background: var(--bk1000);
  align-items: flex-end;
  padding-top: 46px;

  .list-group {
    width: 316px;
    border-radius: 0;
    padding-left: 42px;
  }
}


body nav .list-group-item,
body nav .list-group-item a {
  padding:0;
  background-color: var(--bk1000);
  border: 1px solid var(--bk1000);
  color: var(--bk300);
  width: 274px;
  text-align: left;
  line-height: 46px;
  font-size: 18px;
}


body nav .list-group.line .list-group-item {
  align-content: end;
  border-bottom: 1px solid var(--bk300);
}

body nav ul li ul {
  padding-left: 0px;
  padding-right: 0px;

  li{
  padding-left: 0px;
  }
}

body nav ul li ul li:first-child {
  border-top: 1px solid var(--bk300);
}
body nav ul li ul li:last-child,
body nav .list-group.line ul li:last-child  {
  border-bottom: none;
}

body nav .pr {
  padding-bottom: 0px;
  cursor: pointer;
  ul{
       
    li {
    width: 257px;
    margin-left:15px;
  }
}
}




body nav .no_line.list-group {
  margin-top: 46px;
  margin-bottom: 47px;
}



/*navì˜ active*/

body nav .list-group-item.active,
body nav .list-group-item.active>a,
body nav .list-group-item:hover,
body nav .list-group-item:hover>a {
  background: var(--bk0);
  color: var(--bk900);
  border-color: var(--bk0);
}



button.btn-toggle[aria-expanded="true"] i::before {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}





/* container */

.container {
  width: 1400px;
  max-width: 1400px;
}

/* index */

.container .top_wrapper {
  width: 1400px;

  div {
    border: 1px solid var(--bk100);
    border-radius: 8px;
    padding: 24px;
    min-width: 263px;
  }

  p {
    font-size: 30px;
    line-height: 30px;
    color: var(--bk950);
    margin-top: 20px;
  }


  .top_text {
    font-size: 20px;
    line-height: 30px;
    color: var(--bk600);
  }
}


.bottom_wrapper{
  width: 1400px;
  margin-top: 20px;
}

.bott_left{
  width: 624px;
  height: 632px;
  border: 1px solid var(--bk100);
  padding: 20px;
  border-radius: 8px;
  margin-right:20px;
}
.sellcost_best_table{
  width: 756px;
  height: 300px;
}



.bott_right {
  
  height: 632px;
  .row div{
    border-top: 1px solid var(--bk100);
  }

  .month{
    font-size: 12px;
  }
} 
.bott_right>div:first-child{
  margin-bottom: 20px;
}

.bott_right>div:first-child,
.bott_right>div:nth-child(2)>div {
  border: 1px solid var(--bk100);
  padding: 20px;
  border-radius: 8px;
}