/* index */

.container .top_wrapper {
  width: 1400px;

  div {
    border: 1px solid var(--bk100);
    border-radius: 8px;
    padding: 24px;
    min-width: 263px;
  }

  p {
    font-size: 30px;
    line-height: 30px;
    color: var(--bk950);
    margin-top: 20px;
  }


  .top_text {
    font-size: 20px;
    line-height: 30px;
    color: var(--bk600);
  }
}


.bottom_wrapper{
  width: 1400px;
  margin-top: 20px;
}

.bott_left{
  width: 624px;
  height: 632px;
  border: 1px solid var(--bk100);
  padding: 20px;
  border-radius: 8px;
  margin-right:20px;
}
.sellcost_best_table{
  width: 756px;
  height: 300px;
}



.bott_right {
  
  height: 632px;
  .row div{
    border-top: 1px solid var(--bk100);
  }

  .month{
    font-size: 12px;
  }
} 
.bott_right>div:first-child{
  margin-bottom: 20px;
}

.bott_right>div:first-child,
.bott_right>div:nth-child(2)>div {
  border: 1px solid var(--bk100);
  padding: 20px;
  border-radius: 8px;
}