.btn-bd{
    border: 1px solid var(--bk300);
}

.content_bar{
 margin-bottom: 25px;
}

/* Form 컨트롤 */

.form-control{
    width: 480px;
  }
  
  .form-control.w_512, .form-select.w_512{
    width: 480px;
  }
  
  .info_table {
    border-color: var(--bk0);
  }
  
  .table>:not(caption)>*>* {
    border-bottom-width: 10px;
  }