.nav_sibling{
  padding-bottom: 80px;
}

/* Form 컨트롤 */

tbody .form-control, tbody .form-select{
  width: 480px;
}

tbody td input.address_num{
  width: 360px;
}

tbody td input.address{
  width: 236px;
}

.info_table {
  border-color: var(--bk0);
}

.table>:not(caption)>*>* {
  padding: 1rem .5rem;
}

.list_table .tc_status{
  width: 70%;
  margin: 0 auto;
}

.rounded_circle{
  border-radius: 50% !important;
}

.thumb_parent{
  position: relative;
  width: 480px;
}

.thumb_child{
  position: absolute;
  left: 20px;
  bottom: 0;
}

tbody td.thumb_parent_prev{
  position: relative;
  width: 480px;
  height: 150px;
}

.thumb_child_prev{
  position: absolute;
  top: 20px;
  left:20px;
  object-fit: cover;
}



/* 프로필 이미지 업로드 */
.upload{
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
}

.upload img{
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--bk200);
}

/* 관리자페이지 이미지 */
.adminprofile img{
  width: 100px;
  height: 100px;
}

/*토스트 알림창*/
.toast{
  position: absolute; top: 35%; left: 45%; 
  z-index: 10;
  max-width: 300px;
  --bs-toast-header-bg: var(--red100);
  --bs-toast-bg: var(--red100);
}



.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--bk50);
  border: 1px solid var(--bk200);
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  /* transform: scale(2); */
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.bi-camera-fill::before {
  vertical-align: 0;
}

.form-check{
  margin-bottom: 0;
}
/* 주문금액-건수 그룹화 */
.group_rightline {
  border-right: 1px solid #dee2e6;
}

/* 환불금액-건수 그룹화 */
.group_lefttline {
  border-left: 1px solid #dee2e6; 
}

.sort-icon {
  margin-left: 5px;
  color: #6c757d;
  text-decoration: none;
}

.sort-icon:hover {
  color: #495057;
}

.lec_title{
  font-size: 16px;
  max-width: 400px;

}

.table>:not(caption)>*>td.lec_title {
  padding: 1rem 2.4rem;
}

.text_bg_recipe {
  background-color: var(--red700) !important;
}

.table>:not(caption)>tr.amount_sum>* {
  background-color: rgba(244,244,244,0.5);

}