/* Form 컨트롤 */
tbody .form-control, tbody .form-select{
  width: 480px;
}

.address_num{
  width: 360px;
}

.info_table {
  border-color: var(--bk0);
}

.table>:not(caption)>*>* {
  padding: 1rem .5rem;
}

.list_table .tc_status{
  width: 70%;
  margin: 0 auto;
}

.rounded_circle{
  border-radius: 50% !important;
}


.content_bar{
  margin-top: 50px;
}

/* Form 컨트롤 - teacher 공통-------------------------------------*/


tbody .form-control.w_sm{
  width: 240px;
}


.text-outline-secondary{
  color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;
  background-color: var(--bk0) !important;
  border: 1px solid RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1));
}

.pt_04 {
  padding-top: .4rem !important;
}
.status_tt{
  font-weight: 700;
}

.user_addr input{
  margin-bottom: 10px;
}

.ulist_status{
  width: 30%;
}

.user_addr input.post_search_btn{
  font-size: 15px;
  color: var(--bk900);
  margin-bottom: 0;
  margin-top: 4px;
}